<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - Blacklist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <main id="Blacklist">
            <h1>Blacklist</h1>
            <div id="containerPrint"><i class="fa fa-print"></i></div>
            <section id="BlacklistList">
                <a>karakter</a>
                <a>Quote</a>
                <a></a>
            </section>
            <section id="BlacklistListActive">
                <% for(let i=0 ; i < quotesDialog.length ;i++) { %>
                    <a href="https://lotr.fandom.com/wiki/<%=charactersName[i] %>">
                        <%=charactersName[i]%>
                    </a>
                    <a>
                        <%=quotesDialog[i]%>
                            <i class="fa fa-trash-o" id="BlacklistListVerwijder"></i>
                    </a>

                    <br>
                    <% } %>
            </section>
        </main>
        <%- include("partials/footer") %>
</body>

</html>