<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - Blacklist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        document.getElementById('containerPrint').addEventListener('click', function () {
            document.getElementById('downloadForm').submit();
        });
    </script>
</head>

<body>
    <%- include('partials/header') %>
        <main id="Blacklist">
            <h1>Blacklist</h1>
            <form id="containerPrint" action="/downloadBlacklist" method="post">
                <button id="containerPrint"><i class="fa fa-print"></i></button>
            </form>
            <section id="BlacklistList">
                <a>karakter</a>
                <a>Quote</a>
                <a></a>
            </section>
            <section id="BlacklistListActive">
                <% for(let i=0 ; i < quoteDialogAndCharacter.length ;i++) { %>
                    <form id="blacklistChar" action="/blacklistChar" method="post">
                        <section id="submit">
                            <input type="hidden" name="characterName" id="characterName"
                                value="<%=quoteDialogAndCharacter[i].characterName%>" />
                            <button id="formBtn">
                                <%=quoteDialogAndCharacter[i].characterName%>
                            </button>
                        </section>
                    </form>
                    <a id="blacklistA">
                        <%=quoteDialogAndCharacter[i].quoteDialog%>
                    </a>
                    <form id="blacklistDelete" action="/blacklistDelete" method="post">
                        <section id="submit">
                            <input type="hidden" name="quoteId" id="quoteId"
                                value="<%=quoteDialogAndCharacter[i].quoteId%>" />
                            <button id="formBtn"><i class="fa fa-trash-o" id="BlacklistListVerwijder"></i></button>
                            <a href="https://lotr.fandom.com/wiki/<%=quoteDialogAndCharacter[i].characterName%>"
                                target="_blank"><i class="fa fa-address-book-o "></i></a>
                        </section>
                    </form>
                    <% } %>
            </section>
        </main>
        <%- include("partials/footer") %>
</body>

</html>