<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - Favorieten</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("partials/header") %>
        <main id="favorieten">
            <h1>Favorieten</h1>
            <div id="containerPrint"><i class="fa fa-print"></i></div>
            <section id="FavoriteList">
                <a>karakter</a>
                <a>Quote</a>
                <a></a>
            </section>
            <section id="FavoriteListActive">
                <% for(let i=0 ; i < quotesDialog.length ;i++) { %>
                    <a href="https://lotr.fandom.com/wiki/<%=charactersName[i] %>">
                        <%=charactersName[i]%>
                    </a>
                    <a>
                        <%=quotesDialog[i]%>
                    </a>
                    <form id="favouriteDelete" action="/favouriteDelete" method="post">
                        <section id="submit">
                            <button id="formBtn"><i class="fa fa-trash-o" id="FavoriteListVerwijder"></i></button>
                        </section>
                    </form>

                    <br>
                    <% } %>
            </section>
        </main>
        <%- include("partials/footer") %>
</body>

</html>