<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - 10 rondes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/public/js/button.js" defer></script>
    <script>
        let activeButton = null;
        let activeButton2 =null;

        function changeColor(buttonId) {
        const buttons = document.querySelectorAll('.btn');

        // Verwijder 'active' klasse van alle knoppen
        for (var i = 0; i < buttons.length; i++) {
            let id = "btn"+(i+1);
            switch(id) {
                case "btn1":
                    var element = document.getElementById("btn1");
                    break;
                case "btn2":
                    var element = document.getElementById("btn2");
                    break;
                case "btn3":
                    var element = document.getElementById("btn3");
                    break;
            }
            
            if(element.classList.contains('btnactive')) {
                document.getElementById(id).removeAttribute("class", 'btnactive');
                document.getElementById(id).setAttribute("class", 'btn');
            }
        }

        // Als de huidige knop niet actief is, maak deze actief
        if (activeButton !== buttonId) {
            document.getElementById(buttonId).classList.remove('btn');
            document.getElementById(buttonId).classList.add('btnactive');
            activeButton = buttonId;
        } else {
            activeButton = null; // Als de knop al actief is, deactiveer deze
        }
    }
        function changeColor2(buttonId) {
            const buttons = document.querySelectorAll('.btn');

            // Verwijder 'active' klasse van alle knoppen
            for (var i = 0; i < buttons.length; i++) {
                let id2 = "btnn"+(i+1);
                switch(id2) {
                    case "btnn1":
                        var element2 = document.getElementById("btnn1");
                        break;
                    case "btnn2":
                        var element2 = document.getElementById("btnn2");
                        break;
                    case "btnn3":
                        var element2 = document.getElementById("btnn3");
                        break;
                }
                
                if(element2.classList.contains('btnactive')) {
                    document.getElementById(id2).removeAttribute("class", 'btnactive');
                    document.getElementById(id2).setAttribute("class", 'btn');
                }
            }

            // Als de huidige knop niet actief is, maak deze actief
            if (activeButton2 !== buttonId) {
                document.getElementById(buttonId).classList.remove('btn');
                document.getElementById(buttonId).classList.add('btnactive');
                activeButton2 = buttonId;
            } else {
                activeButton2 = null; // Als de knop al actief is, deactiveer deze
            }
        }
        
    </script>
</head>

<body>
    <%- include("partials/header") %>
    <main>
        <h1 id="qoute"><%= chosenQuote.text %></h1>
        <h2 id="char">character</h2>
        <section id="answers">
            <div>
                <a href="#"><button id="btn"><h3><%= chosenQuote.answers[0] %></h3></button></a>
                <a href="#"><button id="btn1" class="btn" type="button" onclick="changeColor(this.id)"><h3><%= character %></h3></button></a>
            </div>
            <div>
                <a href="#"><button id="btn"><h3><%= chosenQuote.answers[1] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button id="btn"><h3><%= chosenQuote.answers[2] %></h3></button></a>
            </div>
        </section>
        <h2 id="char">movie</h2>
        <section id="answers">
            <div>
                <a href="#"><button class="btn"><h3><%= chosenQuote.movie[0] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button class="btn"><h3><%= chosenQuote.movie[1] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button class="btn"><h3><%= chosenQuote.movie[2] %></h3></button></a>
            </div>
        </section><section id="submit">
            <div>
                <a href="#"><button class="btn"><h3>versturen</h3></button></a>
            </div>
        </section>
        
    </main>
    <%- include("partials/footer") %>
</body>

</html>