<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - 10 rondes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <%- include("partials/header") %>
    <main>
        <h1 id="qoute"><%= chosenQuote.text %></h1>
        <h2 id="char">character</h2>
        <section id="answers">
            <div>
                <a href="#"><button id="btn"><h3><%= chosenQuote.answers[0] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button id="btn"><h3><%= chosenQuote.answers[1] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button id="btn"><h3><%= chosenQuote.answers[2] %></h3></button></a>
            </div>
        </section>
        <h2 id="char">movie</h2>
        <section id="answers">
            <div>
                <a href="#"><button class="btn"><h3><%= chosenQuote.movie[0] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button class="btn"><h3><%= chosenQuote.movie[1] %></h3></button></a>
            </div>
            <div>
                <a href="#"><button class="btn"><h3><%= chosenQuote.movie[2] %></h3></button></a>
            </div>
        </section><section id="submit">
            <div>
                <a href="#"><button class="btn"><h3>versturen</h3></button></a>
            </div>
        </section>
        
    </main>
    <%- include("partials/footer") %>
</body>

</html>