<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The LOTR quiz - 10 rondes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/public/js/button.js" defer></script>
    <script>
        let activeButton =null;
        let activeButton2 =null;
        let activeButtonText =null;
        let activeButton2Text =null;

        function changeColor(buttonId) {
        const buttons = document.querySelectorAll('.btn');

        // Verwijder 'active' klasse van alle knoppen
        for (var i = 0; i < buttons.length; i++) {
            let id = "btn"+(i+1);
            switch(id) {
                case "btn1":
                    var element = document.getElementById("btn1");
                    break;
                case "btn2":
                    var element = document.getElementById("btn2");
                    break;
                case "btn3":
                    var element = document.getElementById("btn3");
                    break;
            }
            
            if(element.classList.contains('btnactive')) {
                document.getElementById(id).removeAttribute("class", 'btnactive');
                document.getElementById(id).setAttribute("class", 'btn');
            }
        }

        // Als de huidige knop niet actief is, maak deze actief
        if (activeButton !== buttonId) {
            document.getElementById(buttonId).classList.remove('btn');
            document.getElementById(buttonId).classList.add('btnactive');
            activeButton = buttonId;
            activeButtonText = document.getElementById(buttonId).value;
            document.getElementById("selectedCharacter").value = activeButtonText
        } else {
            activeButton =null; // Als de knop al actief is, deactiveer deze
            activeButton2Text =null;
        }
    }
        function changeColor2(buttonId) {
            const buttons = document.querySelectorAll('.btn');

            // Verwijder 'active' klasse van alle knoppen
            for (var i = 0; i < buttons.length; i++) {
                let id2 = "btnn"+(i+1);
                switch(id2) {
                    case "btnn1":
                        var element2 = document.getElementById("btnn1");
                        break;
                    case "btnn2":
                        var element2 = document.getElementById("btnn2");
                        break;
                    case "btnn3":
                        var element2 = document.getElementById("btnn3");
                        break;
                }
                
                if(element2.classList.contains('btnactive')) {
                    document.getElementById(id2).removeAttribute("class", 'btnactive');
                    document.getElementById(id2).setAttribute("class", 'btn');
                }
            }

            // Als de huidige knop niet actief is, maak deze actief
            if (activeButton2 !== buttonId) {
                document.getElementById(buttonId).classList.remove('btn');
                document.getElementById(buttonId).classList.add('btnactive');
                activeButton2 = buttonId;
                activeButton2Text = document.getElementById(buttonId).value;
                document.getElementById("selectedMovie").value = activeButton2Text
            } else {
                activeButton2 = null; // Als de knop al actief is, deactiveer deze
                activeButton2Text =null;
            }
        }
        
    </script>
</head>

<body>
    <%- include("partials/header") %>
    <main>
        <h1 id="qoute"><%= quote %></h1>
        <form action="/rounds" method="post">
            <section id="answers">
                <div>
                    <button id="btn1" name="btn1" class="btn" type="button" onclick="changeColor(this.id)" value="<%= character %>"><%= character %></button>
                </div>
                <div>
                    <button id="btn2" name="btn2" class="btn" type="button" onclick="changeColor(this.id)" value="<%= character2 %>"><%= character2 %></button>
                </div>
                <div>
                    <button id="btn3" name="btn3" class="btn" type="button" onclick="changeColor(this.id)" value="<%= ccharacter %>"><%= ccharacter %></button>
                </div>
            </section>
            <section id="answers">
                <div>
                    <button id="btnn1" name="btnn1" class="btn" type="button" onclick="changeColor2(this.id)" value="<%= cMovie %>"><%= cMovie %></button>
                </div>
                <div>
                    <button id="btnn2" name="btnn2" class="btn" type="button" onclick="changeColor2(this.id)" value="<%= Movie2 %>"><%= Movie2 %></button>
                </div>
                <div>
                    <button id="btnn3" name="btnn3" class="btn" type="button" onclick="changeColor2(this.id)" value="<%= Movie %>"><%= Movie %></button>
                </div>
                <input type="hidden" id="selectedMovie" name="selectedMovie" value="" />
                <input type="hidden" id="selectedCharacter" name="selectedCharacter" value="" />
            </section>
            <section id="submit">
                    <button class="btn">Volgende quote</button>
            </section>
        </form>
        <h3>Score: </h3><h3><%= score %></h3>
    </main>
    <%- include("partials/footer") %>
</body>

</html>